@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Montserrat&family=Poppins:wght@300;400;600;700&family=Roboto&display=swap");
/*=============== BASE ===============*/
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  color: #2b2a52;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: $normal-font-size;
  background-color: $body-color;
  transition: 0.5s; // For animation dark mode
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: $font-semi-bold;
  //   color: var(--title-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:active {
  background-color: transparent !important;
}
img {
  max-width: 100%;
  height: auto;
}
.primary {
  color: $primary-color;
}

.blue {
  color: $primary-color;
}
.container {
  box-sizing: border-box;
  margin: 0 7.5rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
  // border: 2px solid pink;
}

@media all and (max-width: 768px) {
  .container {
    margin: 0 1rem;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 1rem;
  }
}
