.home {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  &__data-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    .home-title {
      font-size: 5.5rem;
      line-height: 100%;
    }
    p {
      margin-top: 3rem;
      margin-bottom: 0;
      font-weight: 500;
    }
    .str-btn {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      width: 280px;
      .starbtn-img {
        width: 48%;
      }
    }
  }
  &__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 600px;
      height: 100%;
    }
  }
}

@media all and (max-width: 480px) {
  .home {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 4rem;
    &__data-container {
      margin: 0;
      // width: 80vw;
      .home-title {
        font-size: 2rem;
        line-height: 130%;
      }
      .str-btn {
        .starbtn-img{
			width: 48%;
		}
      }
    }
    &__img-container {
      margin-top: 2rem;
      width: 90vw;
    }
  }
}
