.win {
	margin: 4rem 8rem;
	width: 960px;
	&__title-container {
		&__win-title {
			font-size: 4rem;
			line-height: 100%;
			margin-bottom: 4rem;
		}
	}
	&__card-container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		&__card {
			width: 160px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			img {
				margin: 0;
				width: 10rem;
			}
			h5 {
				font-size: 1rem;
				font-weight: $font-semi-bold;
				text-align: center;
				margin-bottom: 1rem;
			}
			p {
				margin: 0;
				text-transform: uppercase;
				font-weight: 500;
				font-size: $small-font-size;
				color: #aaaaba;
			}
		}
	}
}

@media all and (max-width: 768px) {
	.win {
		max-width: 90vw;
		margin: auto;
		margin-top: 2rem;
		&__title-container {
			// &__title-container {

			// }
			&__win-title {
				max-width: 340px;
				font-size: 2rem;
				line-height: 130%;
				margin-bottom: 0;
			}
		}
		&__card-container {
			margin-left: 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			&__card {
				max-width: auto;
			}
		}
	}
}
